@charset "uft-8";

/* 1.상단영역 박스 */
header#top.part{
    width: 1200px;
    height: 80px;
}

/* 1-1. 페이지 타이틀 */
h1.tit {
    width: auto;
    height: 100%;
    text-align: center;
    line-height: 80px;
}

/* 1-2. 전체메뉴(GNB) */
nav.gnb {
    width: auto;
    height: auto;
    position: absolute;
    bottom: 0px;
    right: 0px;
    
}